/* preto: #1B1B1E */
/* cinza: #d8dbe2 */
/* cinzaescuro: #373F51 */
/* azulgelo: #a9bcd0 */
/* azulclaro: #58A4B0 */

body {
    background-color: #373F51;
    color: #d8dbe2;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;

}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto;
    width: 1200px;
}

header h1 {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 40px;
}

header h1::before {
    content: '<';
    color: #58A4B0;
}

header h1::after {
    content: '/>';
    color: #58A4B0;
}

nav a {
    margin-right: 20px;
    align-items: center;
    color: #d8dbe2;
    text-decoration: none;
}

nav a:hover {
    /* text-decoration: underline; */
    color: #58A4B0;
    transition: 200ms linear;
}